.index-screen{
    display: flex;
    width: 100vh;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.screen-start{
    position: absolute;
    top: 0;
    width: 100vh;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-word{
    font-size: 80px;
    color: red;
    font-weight: bolder;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Noto Serif', serif;
}

@keyframes screen-ani{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.screen-word{
    opacity: 0;
    animation: screen-ani 3s linear forwards;
}

.screen-word:nth-child(2){
    animation-delay: 0.3s;
}

.screen-word:nth-child(3){
    animation-delay: 0.6s;
}

.screen-word:nth-child(4){
    animation-delay: 0.9s;
}

.screen-word:nth-child(5){
    animation-delay: 1.2s;
}

.screen-word:nth-child(6){
    animation-delay: 1.5s;
}

.screen-word:nth-child(7){
   animation-delay: 1.8s;
}

@keyframes screen-none{
  from{
  }
  to{display: none;}
}

.screen-start{
    animation: screen-none 4s linear forwards;
}

.main-container{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.main-text{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Noto Serif', serif;
    font-size: 80px;
    color: red;
    font-weight: bolder;
    margin-bottom: 30px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input{
    width: 400px;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid var(--main-color);
    background-color: black;
    padding: 20px;
    color:wheat;
}

form input::placeholder{
    font-size: 20px;
    opacity: 0.3;
}

form input:focus{
    outline: none;
}




.main-button{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-button button{
    margin: 0px 40px;
    padding: 10px;
}

.main-container a{
    margin-top: 30px;
    text-decoration: none;
}

a span{
    font-size: 20px;
}

















